In [4]:
import pandas as pd
import numpy as np

In [5]:
total_hojas = 15
dataframes = {}  # Diccionario para almacenar los DataFrames

for x in range(0,total_hojas):
    hoja = pd.read_excel('data_pi02/Internet.xlsx',sheet_name=x)
    dataframes[f'df_int{x+1}'] = hoja  # Guardar el DataFrame en el diccionario

## Hojas de excel

Se procedera a realizar una transformacion en los datos y sus tipos. Ademas de realizar una normalizacion a las tablas(campo en comun "Provincia"), para que nuestro modelo relacional pueda funcionar.

De las distintas hojas o tablas que se poseen, solo se utilizaran las siguientes debido a su nivel de relevancia:

**1. Acc_vel_loc_sinrangos:**

**2. Velocidad_sin_Rangos:**

**5. Accesos_tecnologia_localidad:**

**6. Totales Accesos por Tecnología:**

**8. Dial-BAf:**

**9. Totales Dial-BAf:**

**11. Penetración-hogares:**

**14. Accesos por velocidad:**

**15. Ingresos:**

**Extra: 16: mapa_conectividad**

# **Primer hoja; Acc_vel_loc_sinrangos**

Debido a la robutez de los datos, se crearan rangos de los accesos a internet por sus velocidades.

Para la interpretacion de la velocidad de conexion en las localidades de argentina, se procederan a seccionar en rangos decimales y dividiendo por 1/2 al rango siguiente.

- df_int1['Mbps_5']: menos de 5 y otros
- df_int1['Mbps_10']: mas de 5 a 10
- df_int1['Mbps_50']: de 10 a 50
- df_int1['Mbps_100']: de 50 a 100
- df_int1['Mbps_500']: de 100 a 500
- df_int1['Mbps_1000']: de +500

In [6]:
#primer hoja o primer dataframe
df_int1 = dataframes['df_int1']
### Creacion de las columnas de rangos de velocidad
df_int1['Mbps_5'] = df_int1.iloc[:, 4:20].sum(axis=1)
df_int1['Mbps_10'] = df_int1.iloc[:, 20:27].sum(axis=1)
df_int1['Mbps_50'] = df_int1.iloc[:, 27:64].sum(axis=1)
df_int1['Mbps_100'] = df_int1.iloc[:, 64:86].sum(axis=1)
df_int1['Mbps_500'] = df_int1.iloc[:, 86:124].sum(axis=1)
df_int1['Mbps_1000'] = df_int1.iloc[:, 124:136].sum(axis=1)
#print(df_int1.iloc[:,124:136])
# eliminamos las columnas que ya no sean necesarias
df_int1 = df_int1.drop(columns=df_int1.columns[4:136])
df_int1 = df_int1.rename(columns={'Link Indec':'link'})
col = ['link']
# Utiliza el método replace
df_int1[col] = df_int1[col].replace('Sin Datos', 0)
#normalizacion de provincia
mapeo_provincias = {'caba': 'buenos aires','Capital Federal':'buenos aires','capital federal':'buenos aires',
    'bs as': 'buenos aires', 'buenos aires': 'buenos aires',
    'catamarca': 'catamarca', 'chaco': 'chaco', 'chubut': 'chubut',
    'cordoba': 'córdoba', 'córdoba': 'córdoba', 'corrientes': 'corrientes',
    'entre rios': 'entre ríos', 'entre ríos': 'entre ríos',
    'formosa': 'formosa', 'jujuy': 'jujuy', 'la pampa': 'la pampa',
    'la rioja': 'la rioja', 'mendoza': 'mendoza', 'misiones': 'misiones',
    'neuquen': 'neuquén', 'neuquén': 'neuquén', 'rio negro': 'río negro',
    'río negro': 'río negro', 'salta': 'salta', 'san juan': 'san juan',
    'san luis': 'san luis', 'santa cruz': 'santa cruz', 'santa fe': 'santa fe',
    'santiago del estero': 'santiago del estero', 'tierra del fuego': 'tierra del fuego',
    'tucuman': 'tucumán', 'tucumán': 'tucumán'}
df_int1['Provincia'] = df_int1['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int1['Provincia'].unique()))

23

C:\Users\Pablo\AppData\Local\Temp\ipykernel_21308\4135901677.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_int1[col] = df_int1[col].replace('Sin Datos', 0)

In [8]:
df_int1.sample(20)

,Provincia,Partido,Localidad,link,Mbps_5,Mbps_10,Mbps_50,Mbps_100,Mbps_500,Mbps_1000
471,buenos aires,Monte,Abbott,6547010,0.0,18.0,302.0,0.0,0.0,0.0
1115,córdoba,Río Cuarto,Coronel Baigorria,14098090,1.0,0.0,0.0,0.0,0.0,0.0
2514,santa fe,Caseros,Bigand,82014040,7.0,1558.0,155.0,0.0,0.0,0.0
2856,santiago del estero,Alberdi,Donadeu,86014030,0.0,1.0,1.0,0.0,0.0,0.0
2857,santiago del estero,Alberdi,Sachayoj,86014040,174.0,27.0,7.0,0.0,0.0,0.0
999,córdoba,General Roca,PINCÉN,14035090,9.0,0.0,0.0,0.0,0.0,0.0
1444,entre ríos,La Paz,San Gustavo,30070070,309.0,31.0,0.0,0.0,0.0,0.0
1608,jujuy,Rinconada,Lagunillas de Farallón,38049010,0.0,1.0,0.0,0.0,0.0,0.0
1433,entre ríos,Gualeguaychú,Urdinarrain,30056110,9.0,1901.0,71.0,0.0,0.0,0.0
378,buenos aires,La Plata,Ringuelet,6441030,3.0,32.0,325.0,35.0,3843.0,185.0
2332,san juan,Capital,San Juan,70028010,13127.0,4116.0,33899.0,1.0,1185.0,0.0
822,chaco,General Güemes,El Sauzalito,22063030,121.0,0.0,0.0,0.0,0.0,0.0
2045,neuquén,Aluminé,Moquehue,58007015,82.0,100.0,16.0,0.0,0.0,0.0
2025,misiones,San Ignacio,General Urquiza,54098040,51.0,49.0,0.0,0.0,0.0,0.0
2004,misiones,Libertador Grl. San Martín,Puerto Rico,54077060,996.0,3643.0,639.0,0.0,0.0,0.0
1776,la rioja,Coronel Felipe Varela,Pagancillo,46028040,0.0,0.0,126.0,0.0,0.0,0.0
273,buenos aires,General Rodríguez,Barrio Ruta 24 Kilómetro 10,6364030,2.0,0.0,0.0,0.0,0.0,0.0
406,buenos aires,Lincoln,Arenaza,6469010,293.0,0.0,0.0,0.0,0.0,0.0
2565,santa fe,Constitución,Cepeda,82028060,0.0,0.0,4.0,0.0,0.0,0.0
934,córdoba,Calamuchita,Los Cóndores,14007110,504.0,432.0,4.0,0.0,0.0,0.0

Podemos observar que la mayor concentracion de conecciones se encuentran en los rangos de 5 a 10(mbps_10) y en el rango de 100 a 500(mbps_500)

# **Segunda hoja: Velocidad_sin_Rangos**
Esta tabla tambien se seccionara debido a la cantidad de columnas existentes en la tabla

- df_int2['Mbps_5']: menos de 5 y otros
- df_int2['Mbps_10']: mas de 5 a 10
- df_int2['Mbps_50']: de 10 a 50
- df_int2['Mbps_100']: de 50 a 100
- df_int2['Mbps_500']: de 100 a 500
- df_int2['Mbps_1000']: de 500 a 1000
- df_int2['Mbps_5000']: de 1000 a 5000
- df_int2['Mbps_10000']: de 5000 a 10000

In [4]:
df_int2 = dataframes['df_int2']
df_int2['Mbps_5'] = df_int2.iloc[:, 4:25].sum(axis=1)
df_int2['Mbps_10'] = df_int2.iloc[:, 25:32].sum(axis=1)
df_int2['Mbps_50'] = df_int2.iloc[:, 32:76].sum(axis=1)
df_int2['Mbps_100'] = df_int2.iloc[:, 76:113].sum(axis=1)
df_int2['Mbps_500'] = df_int2.iloc[:, 113:168].sum(axis=1)
df_int2['Mbps_1000'] = df_int2.iloc[:, 168:179].sum(axis=1)
df_int2['Mbps_5000'] = df_int2.iloc[:, 179:188].sum(axis=1)
df_int2['Mbps_10000'] = df_int2.iloc[:, 188:193].sum(axis=1)
df_int2 = df_int2.drop(columns=df_int2.columns[4:193])
df_int2 = df_int2.dropna(subset=['Provincia'],axis=0)
df_int2['Provincia'] = df_int2['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int2['Provincia'].unique()))
df_int2.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int2 = df_int2.fillna(0)
df_int2.info()

23
<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         600 non-null    float64
 1   Trimestre   600 non-null    float64
 2   Provincia   600 non-null    object
 3   Otros       600 non-null    float64
 4   Mbps_5      600 non-null    float64
 5   Mbps_10     600 non-null    float64
 6   Mbps_50     600 non-null    float64
 7   Mbps_100    600 non-null    float64
 8   Mbps_500    600 non-null    float64
 9   Mbps_1000   600 non-null    float64
 10  Mbps_5000   600 non-null    float64
 11  Mbps_10000  600 non-null    float64
dtypes: float64(11), object(1)
memory usage: 60.9+ KB

# **quinta hoja: Accesos_tecnologia_localidad**

In [5]:
df_int5 = dataframes['df_int5']
df_int5 = df_int5.rename(columns={'Link Indec':'link'})
df_int5 = df_int5.rename(columns={'DIAL UP':'dialup'})
df_int5 = df_int5.rename(columns={'FIBRA OPTICA':'fibraoptica'})
df_int5 = df_int5.rename(columns={'Total general':'totalgeneral'})
col = ['link']
# Utiliza el método replace
df_int5[col] = df_int5[col].replace('Sin Datos', 0)
df_int5['Provincia'] = df_int5['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int5['Provincia'].unique()))
df_int5.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int5 = df_int5.fillna(0)

23

C:\Users\Pablo\AppData\Local\Temp\ipykernel_20852\3367713688.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_int5[col] = df_int5[col].replace('Sin Datos', 0)

# **sexta hoja: Totales Accesos por Tecnología**

In [6]:
df_int6 = dataframes['df_int6']
df_int6 = df_int6.rename(columns={'Fibra óptica':'fibraoptica'})
df_int6.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int6 = df_int6.fillna(0)

# **octava hoja: Dial-BAf**

In [7]:
df_int8 = dataframes['df_int8']
df_int8 = df_int8.rename(columns={'Banda ancha fija':'banda_ancha_fija'})
df_int8 = df_int8.rename(columns={'Dial up':'dialup'})
df_int8['Provincia'] = df_int8['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int8['Provincia'].unique()))
df_int8.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int8 = df_int8.fillna(0)

23

# **novena hoja: Totales Dial-BAf**

In [8]:
df_int9 = dataframes['df_int9']
df_int9 = df_int9.rename(columns={'Banda ancha fija':'banda_ancha_fija'})
df_int9 = df_int9.rename(columns={'Dial up':'dialup'})
df_int9.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int9 = df_int9.fillna(0)

# **onceava hoja: Penetración-hogares**

In [9]:
df_int11 = dataframes['df_int11']
df_int11 = df_int11.rename(columns={'Accesos por cada 100 hogares':'acceso_cada_100_hogares'})
df_int11['Provincia'] = df_int11['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int11['Provincia'].unique()))
df_int11.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int11 = df_int11.fillna(0)

23

# **catorceava hoja: Accesos por velocidad**

In [10]:
df_int14 = dataframes['df_int14']
df_int14 = df_int14.rename(columns={'HASTA 512 kbps':'kbps_512'})
df_int14 = df_int14.rename(columns={'+ 512 Kbps - 1 Mbps':'kbps_1024'})
df_int14 = df_int14.rename(columns={'+ 1 Mbps - 6 Mbps':'Mbps_6'})
df_int14 = df_int14.rename(columns={'+ 6 Mbps - 10 Mbps':'Mbps_10'})
df_int14 = df_int14.rename(columns={'+ 10 Mbps - 20 Mbps':'Mbps_20'})
df_int14 = df_int14.rename(columns={'+ 20 Mbps - 30 Mbps':'Mbps_30'})
df_int14 = df_int14.rename(columns={'+ 30 Mbps':'Mbps_mas_30'})
df_int14['Provincia'] = df_int14['Provincia'].str.lower().map(mapeo_provincias)
print(len(df_int14['Provincia'].unique()))
df_int14.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int14 = df_int14.fillna(0)

23

# **quinceava hoja: Ingresos**

In [11]:
df_int15 = dataframes['df_int15']
df_int15 = df_int15.rename(columns={'Ingresos (miles de pesos)':'Ingresos'})
df_int15.replace({np.inf: np.nan, -np.inf: np.nan}, inplace=True)
df_int15 = df_int15.fillna(0)

# Creacion de las estructuras de las tablas de sql server

In [12]:
# primera hoja: Acc_vel_loc_sinrangos
column_names_1 = df_int1.columns.tolist()
data_types_t1 = {
    'Provincia': 'NVARCHAR(100)',
    'Partido': 'NVARCHAR(100)',
    'Localidad': 'NVARCHAR(100)',
    'link': 'INT',
    'Mbps_5': 'FLOAT',
    'Mbps_10': 'FLOAT',
    'Mbps_50': 'FLOAT',
    'Mbps_100': 'FLOAT',
    'Mbps_500': 'FLOAT',
    'Mbps_1000': 'FLOAT'}
# segunda hoja: Velocidad_sin_Rangos
column_names_2 = df_int2.columns.tolist()
data_types_t2 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Provincia': 'NVARCHAR(100)',
    'Otros': 'FLOAT',
    'Mbps_5': 'FLOAT',
    'Mbps_10': 'FLOAT',
    'Mbps_50': 'FLOAT',
    'Mbps_100': 'FLOAT',
    'Mbps_500': 'FLOAT',
    'Mbps_1000': 'FLOAT',
    'Mbps_5000': 'FLOAT',
    'Mbps_10000': 'FLOAT'}

#quinta hoja: Accesos_tecnologia_localidad
column_names_5 = df_int5.columns.tolist()
data_types_t5 = {
    'Provincia': 'NVARCHAR(100)',
    'Partido': 'NVARCHAR(100)',
    'Localidad': 'NVARCHAR(100)',
    'link': 'INT',
    'ADSL': 'FLOAT',
    'CABLEMODEM': 'FLOAT',
    'dialup': 'FLOAT',
    'fibraoptica': 'FLOAT',
    'OTROS': 'FLOAT',
    'SATELITAL': 'FLOAT',
    'WIMAX': 'FLOAT',
    'WIRELESS': 'FLOAT',
    'totalgeneral': 'FLOAT'}
    
#sexta hoja: Totales Accesos por Tecnología
#df_int6['ADSL'] = df_int6['ADSL'].astype(float)
column_names_6 = df_int6.columns.tolist()
data_types_t6 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'ADSL': 'INT',
    'Cablemodem': 'INT',
    'fibraoptica': 'INT',
    'Wireless': 'INT',
    'Otros': 'INT',
    'Total': 'INT',
    'Periodo': 'NVARCHAR(100)'}
#octava hoja: Dial-BAf
column_names_8 = df_int8.columns.tolist()
data_types_t8 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Provincia': 'NVARCHAR(100)',
    'banda_ancha_fija': 'FLOAT',
    'dialup': 'FLOAT',
    'Total': 'FLOAT'}
#novena hoja: Dial-BAf
column_names_9 = df_int9.columns.tolist()
data_types_t9 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'banda_ancha_fija': 'FLOAT',
    'dialup': 'FLOAT',
    'Total': 'FLOAT',
    'Periodo': 'NVARCHAR(50)'}


#onceava hoja: Penetración-hogares
column_names_11 = df_int11.columns.tolist()
data_types_t11 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Provincia': 'NVARCHAR(100)',
    'acceso_cada_100_hogares': 'FLOAT'}

#catorceava hoja: Accesos por velocidad
column_names_14 = df_int14.columns.tolist()
data_types_t14 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Provincia': 'NVARCHAR(100)',
    'kbps_512': 'FLOAT',
    'kbps_1024': 'FLOAT',
    'Mbps_6': 'FLOAT',
    'Mbps_10': 'FLOAT',
    'Mbps_20': 'FLOAT',
    'Mbps_30': 'FLOAT',
    'Mbps_mas_30': 'FLOAT',
    'OTROS': 'FLOAT',
    'Total': 'FLOAT'}
#quinceava hoja: Ingresos
column_names_15 = df_int15.columns.tolist()
data_types_t15 = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Ingresos': 'FLOAT',
    'Periodo': 'NVARCHAR(100)'}

In [13]:
# Valores para los tipos de datos
columns_sql_1 = ', '.join([f"{col} {data_types_t1[col]}" for col in column_names_1])
columns_sql_2 = ', '.join([f"{col} {data_types_t2[col]}" for col in column_names_2])
columns_sql_5 = ', '.join([f"{col} {data_types_t5[col]}" for col in column_names_5])
columns_sql_6 = ', '.join([f"{col} {data_types_t6[col]}" for col in column_names_6])
columns_sql_8 = ', '.join([f"{col} {data_types_t8[col]}" for col in column_names_8])
columns_sql_9 = ', '.join([f"{col} {data_types_t9[col]}" for col in column_names_9])
columns_sql_11 = ', '.join([f"{col} {data_types_t11[col]}" for col in column_names_11])
columns_sql_14 = ', '.join([f"{col} {data_types_t14[col]}" for col in column_names_14])
columns_sql_15 = ', '.join([f"{col} {data_types_t15[col]}" for col in column_names_15])

# nombres de las tablas
table_name_1 = 'Acc_vel_loc_sinrangos'
table_name_2 = 'Velocidad_sin_Rangos'
table_name_5 = 'Accesos_tecnologia_localidad'
table_name_6 = 'Totales_Accesos_por_Tecnología'
table_name_8 = 'Dial_BAf'
table_name_9 = 'Totales_Dial_BAf'
table_name_11 = 'Penetración_hogares'
table_name_14 = 'Accesos_por_velocidad'
table_name_15 = 'Ingresos'

#Consulta de creacion de tablas
create_table_sql_1 = f"CREATE TABLE {table_name_1} ({columns_sql_1});"
create_table_sql_2 = f"CREATE TABLE {table_name_2} ({columns_sql_2});"
create_table_sql_5 = f"CREATE TABLE {table_name_5} ({columns_sql_5});"
create_table_sql_6 = f"CREATE TABLE {table_name_6} ({columns_sql_6});"
create_table_sql_8 = f"CREATE TABLE {table_name_8} ({columns_sql_8});"
create_table_sql_9 = f"CREATE TABLE {table_name_9} ({columns_sql_9});"
create_table_sql_11 = f"CREATE TABLE {table_name_11} ({columns_sql_11});"
create_table_sql_14 = f"CREATE TABLE {table_name_14} ({columns_sql_14});"
create_table_sql_15 = f"CREATE TABLE {table_name_15} ({columns_sql_15});"

# conexion a la base de datos

In [14]:
import pyodbc
server_name = 'DESKTOP-SGL4P89'
nombre_bd = 'Telecomunicacion_Enacom'
user = 'sa'
password = 'pablo'
conexion_str = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={nombre_bd};'
    f'UID={user};'
    f'PWD={password}'
)

conn = pyodbc.connect(conexion_str)
cursor = conn.cursor() # Crear un cursor

# Creacion de las tablas de sql server
Considerar eliminar los espacios de los nombres de las columnas de los dataframes

In [15]:
cursor.execute(create_table_sql_1)
cursor.execute(create_table_sql_2)
cursor.execute(create_table_sql_5)
cursor.execute(create_table_sql_6)
cursor.execute(create_table_sql_8)
cursor.execute(create_table_sql_9)
cursor.execute(create_table_sql_11)
cursor.execute(create_table_sql_14)
cursor.execute(create_table_sql_15)

# Carga de la informacion en la base de datos

In [16]:
# consultas INSERT para las tablas
insert_sql_1 = f"INSERT INTO {table_name_1} ({', '.join(df_int1.columns)}) VALUES ({', '.join(['?' for _ in df_int1.columns])})"
insert_sql_2 = f"INSERT INTO {table_name_2} ({', '.join(df_int2.columns)}) VALUES ({', '.join(['?' for _ in df_int2.columns])})"
insert_sql_5 = f"INSERT INTO {table_name_5} ({', '.join(df_int5.columns)}) VALUES ({', '.join(['?' for _ in df_int5.columns])})"
insert_sql_6 = f"INSERT INTO {table_name_6} ({', '.join(df_int6.columns)}) VALUES ({', '.join(['?' for _ in df_int6.columns])})"
insert_sql_8 = f"INSERT INTO {table_name_8} ({', '.join(df_int8.columns)}) VALUES ({', '.join(['?' for _ in df_int8.columns])})"
insert_sql_9 = f"INSERT INTO {table_name_9} ({', '.join(df_int9.columns)}) VALUES ({', '.join(['?' for _ in df_int9.columns])})"
insert_sql_11 = f"INSERT INTO {table_name_11} ({', '.join(df_int11.columns)}) VALUES ({', '.join(['?' for _ in df_int11.columns])})"
insert_sql_14 = f"INSERT INTO {table_name_14} ({', '.join(df_int14.columns)}) VALUES ({', '.join(['?' for _ in df_int14.columns])})"
insert_sql_15 = f"INSERT INTO {table_name_15} ({', '.join(df_int15.columns)}) VALUES ({', '.join(['?' for _ in df_int15.columns])})"

# Condiciones necesarias para evitar errores
- nombres de las columnas sin espacios
- nombres de las tablas sin espacios ni guiones medios
- no tener valores nulos ni inf
- los tipos de datos deben coincidir en todos sus valores de las filas (reemplazar inf y -inf por nan y nan por 0) porque sql server no puede interpretarlos.
- Usar corchetes en el nombre de las columnas

In [17]:

for index, row in df_int1.iterrows():
    cursor.execute(insert_sql_1, tuple(row))
    
for index, row in df_int2.iterrows():
    cursor.execute(insert_sql_2, tuple(row))

for index, row in df_int5.iterrows():
    cursor.execute(insert_sql_5, tuple(row))

for index, row in df_int6.iterrows():
    cursor.execute(insert_sql_6, tuple(row))

for index, row in df_int8.iterrows():
    cursor.execute(insert_sql_8, tuple(row))

for index, row in df_int9.iterrows():
    cursor.execute(insert_sql_9, tuple(row))

for index, row in df_int11.iterrows():
    cursor.execute(insert_sql_11, tuple(row))

for index, row in df_int14.iterrows():
    cursor.execute(insert_sql_14, tuple(row))

for index, row in df_int15.iterrows():
    cursor.execute(insert_sql_15, tuple(row))

# 16. Extra; Tabla mapa conectividad.

In [18]:
df_mp = pd.read_excel('data_pi02/mapa_conectividad.xlsx')

In [19]:
df_mp['Cablemódem'] = df_mp['Cablemódem'].replace('--','0')
df_mp['Cablemódem'] = df_mp['Cablemódem'].replace('Sí','1')
df_mp['Cablemódem'] = df_mp['Cablemódem'].astype('int64')
#df['sales'] = df['sales'].astype('float64')

df_mp['ADSL'] = df_mp['ADSL'].replace('--','0')
df_mp['ADSL'] = df_mp['ADSL'].replace('Sí','1')
df_mp['ADSL'] = df_mp['ADSL'].astype('int64')


df_mp['Dial Up'] = df_mp['Dial Up'].replace('--','0')
df_mp['Dial Up'] = df_mp['Dial Up'].replace('Sí','1')
df_mp['Dial Up'] = df_mp['Dial Up'].astype('int64')
df_mp = df_mp.rename(columns={'Dial Up':'dialup'})

df_mp['Fibra óptica'] = df_mp['Fibra óptica'].replace('--','0')
df_mp['Fibra óptica'] = df_mp['Fibra óptica'].replace('Sí','1')
df_mp['Fibra óptica'] = df_mp['Fibra óptica'].astype('int64')
df_mp = df_mp.rename(columns={'Fibra óptica':'fibraoptica'})

df_mp['Satelital'] = df_mp['Satelital'].replace('--','0')
df_mp['Satelital'] = df_mp['Satelital'].replace('Sí','1')
df_mp['Satelital'] = df_mp['Satelital'].astype('int64')

df_mp['Wireless'] = df_mp['Wireless'].replace('--','0')
df_mp['Wireless'] = df_mp['Wireless'].replace('Sí','1')
df_mp['Wireless'] = df_mp['Wireless'].astype('int64')

df_mp['Telefonía Fija'] = df_mp['Telefonía Fija'].replace('--','0')
df_mp['Telefonía Fija'] = df_mp['Telefonía Fija'].replace('Sí','1')
df_mp['Telefonía Fija'] = df_mp['Telefonía Fija'].astype('int64')
df_mp = df_mp.rename(columns={'Telefonía Fija':'telefoniafija'})

df_mp['3G'] = df_mp['3G'].replace('--','0')
df_mp['3G'] = df_mp['3G'].replace('Sí','1')
df_mp['3G'] = df_mp['3G'].astype('int64')

df_mp['4G'] = df_mp['4G'].replace('--','0')
df_mp['4G'] = df_mp['4G'].replace('Sí','1')
df_mp['4G'] = df_mp['4G'].astype('int64')

#df_mp['Cablemódem'].replace('-','True',inplace=True)

In [20]:
df_mp.dropna(inplace=True,axis=0)

In [21]:
df_mp['Provincia'] = df_mp['Provincia'].str.lower().map(mapeo_provincias)

In [22]:
df_mp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4299 entries, 0 to 4310
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4299 non-null   object
 1   Partido        4299 non-null   object
 2   Localidad      4299 non-null   object
 3   Población      4299 non-null   int64
 4   ADSL           4299 non-null   int64
 5   Cablemódem     4299 non-null   int64
 6   dialup         4299 non-null   int64
 7   fibraoptica    4299 non-null   int64
 8   Satelital      4299 non-null   int64
 9   Wireless       4299 non-null   int64
 10  telefoniafija  4299 non-null   int64
 11  3G             4299 non-null   int64
 12  4G             4299 non-null   int64
 13  Link           4299 non-null   float64
 14  Latitud        4299 non-null   float64
 15  Longitud       4299 non-null   float64
dtypes: float64(3), int64(10), object(3)
memory usage: 571.0+ KB

In [23]:
column_names_mp = df_mp.columns.tolist()
data_types_mp = {
    'Provincia': 'NVARCHAR(100)',
    'Partido': 'NVARCHAR(100)',
    'Localidad': 'NVARCHAR(100)',
    'Población': 'INT',
    'ADSL': 'INT',
    'Cablemódem': 'INT',
    'dialup': 'INT',
    'fibraoptica': 'INT',
    'Satelital': 'INT',
    'Wireless': 'INT',
    'telefoniafija': 'INT',
    '3G': 'INT',
    '4G': 'INT',
    'Link': 'FLOAT',
    'Latitud': 'FLOAT',
    'Longitud': 'FLOAT'}

In [24]:
columns_sql_mp = ', '.join([f"[{col}] {data_types_mp[col]}" for col in column_names_mp])
table_name_mp = 'mapa_conectividad'
create_table_sql_mp = f"CREATE TABLE {table_name_mp} ({columns_sql_mp});"
cursor.execute(create_table_sql_mp)
columnas_separadas = [f"[{col}]" for col in df_mp.columns]# poner corchetes a los nombres de las columnas

In [25]:

insert_sql_mp = f"INSERT INTO {table_name_mp} ({', '.join(columnas_separadas)}) VALUES ({', '.join(['?' for _ in df_mp.columns])})"
# insercion de la data
for index, row in df_mp.iterrows():
    cursor.execute(insert_sql_mp, tuple(row))

### Realizar un commit para guardar cambios y cerrar la coneccion

In [26]:
conn.commit() # Confirmar la ejecución

# Cerrar la conexión
conn.close()

### Datasets limpios

In [27]:
df_int1.to_parquet('data_pi02/df_telecom_1.parquet',engine='pyarrow')
df_int2.to_parquet('data_pi02/df_telecom_2.parquet',engine='pyarrow')
df_int5.to_parquet('data_pi02/df_telecom_5.parquet',engine='pyarrow')
df_int6.to_parquet('data_pi02/df_telecom_6.parquet',engine='pyarrow')
df_int8.to_parquet('data_pi02/df_telecom_8.parquet',engine='pyarrow')
df_int9.to_parquet('data_pi02/df_telecom_9.parquet',engine='pyarrow')
df_int11.to_parquet('data_pi02/df_telecom_11.parquet',engine='pyarrow')
df_int14.to_parquet('data_pi02/df_telecom_14.parquet',engine='pyarrow')
df_int15.to_parquet('data_pi02/df_telecom_15.parquet',engine='pyarrow')

In [30]:
df_mp.to_parquet('data_pi02/df_mapacon.parquet',engine='pyarrow')

In [29]:
"""
column_names = df_int3.columns.tolist()
data_types = {
    'Año': 'INT',
    'Trimestre': 'INT',
    'Provincia': 'NVARCHAR(50)',
    'Mbps': 'FLOAT'}
# Crear la parte del SQL para las columnas
columns_sql = ', '.join([f"{col} {data_types[col]}" for col in column_names])
# Definir el nombre de la tabla
table_name = 'Velocidad_porcentaje_por_provincia'
create_table_sql = f"CREATE TABLE {table_name} ({columns_sql});"
print(create_table_sql)

#conexion a la base de datos
import pyodbc
server_name = 'DESKTOP-SGL4P89'
nombre_bd = 'Telecomunicacion_Enacom'
user = 'sa'
password = 'pablo'
conexion_str = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server_name};'
    f'DATABASE={nombre_bd};'
    f'UID={user};'
    f'PWD={password}'
)

conn = pyodbc.connect(conexion_str)
cursor = conn.cursor() # Crear un cursor
# Si la tabla no existe, descomentar esta linea
#cursor.execute(create_table_sql)
# Crear una plantilla de consulta de inserción
insert_sql = f"INSERT INTO {table_name} ({', '.join(df_int3.columns)}) VALUES ({', '.join(['?' for _ in df_int3.columns])})"

# Iterar a través del DataFrame e insertar los datos
for index, row in df_int3.iterrows():
    cursor.execute(insert_sql, tuple(row))

conn.commit() # Confirmar la ejecución

# Cerrar la conexión
conn.close()
"""

'\ncolumn_names = df_int3.columns.tolist()\ndata_types = {\n    \'Año\': \'INT\',\n    \'Trimestre\': \'INT\',\n    \'Provincia\': \'NVARCHAR(50)\',\n    \'Mbps\': \'FLOAT\'}\n# Crear la parte del SQL para las columnas\ncolumns_sql = \', \'.join([f"{col} {data_types[col]}" for col in column_names])\n# Definir el nombre de la tabla\ntable_name = \'Velocidad_porcentaje_por_provincia\'\ncreate_table_sql = f"CREATE TABLE {table_name} ({columns_sql});"\nprint(create_table_sql)\n\n#conexion a la base de datos\nimport pyodbc\nserver_name = \'DESKTOP-SGL4P89\'\nnombre_bd = \'Telecomunicacion_Enacom\'\nuser = \'sa\'\npassword = \'pablo\'\nconexion_str = (\n    f\'DRIVER={{ODBC Driver 17 for SQL Server}};\'\n    f\'SERVER={server_name};\'\n    f\'DATABASE={nombre_bd};\'\n    f\'UID={user};\'\n    f\'PWD={password}\'\n)\n\nconn = pyodbc.connect(conexion_str)\ncursor = conn.cursor() # Crear un cursor\n# Si la tabla no existe, descomentar esta linea\n#cursor.execute(create_table_sql)\n# Crear una plantilla de consulta de inserción\ninsert_sql = f"INSERT INTO {table_name} ({\', \'.join(df_int3.columns)}) VALUES ({\', \'.join([\'?\' for _ in df_int3.columns])})"\n\n# Iterar a través del DataFrame e insertar los datos\nfor index, row in df_int3.iterrows():\n    cursor.execute(insert_sql, tuple(row))\n\nconn.commit() # Confirmar la ejecución\n\n# Cerrar la conexión\nconn.close()\n'